# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
.env

# Node
node_modules/
dist/
.env.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Misc
.DS_Store
*.log
firebase-service-account.json
